.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(181, 224, 79);
}
.open-modal {
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(231, 142, 9, 0.775);
    font-size: 24px;
    font-weight: 700;
}
.open-modal:focus {
    border: none;
    outline: none;
}